/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #53868B	;
}

.bomb{
    text-align: center;
}


/* font style */
h1, h5{
    font-family:'The Nautigal', cursive;
    font-size: 50px;
    text-align: center;
    margin: 20px; 
}


/* font-awesome */
.fas{
    font-size: 50px;
    
}

/* button style */
.container-button{
    display: flex;
    justify-content: center;
}

.container-button button {
    width: 100px;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    border: 1px solid black;
    margin: 10px;
}

#easy-button{
    background-color: #EEAEEE;
}

#medium-button{
    background-color: #8B668B;
}

#hard-button{
    background-color: #8B4789;
}

/* box style */
.container-box{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
    border: yellowgreen;
}

.box{
    background-color: #7AC5CD;
    border: 1px white solid;
    width: 50px;
    height: 50px;
    color: #3a2a03;
    font-weight: bolder;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}


/* ----- JS ---- */
/* classi width aggiunte da js in base al lvl */
.width_simple {
    width: 500px;
}

.width_medium {
    width: 450px;
}

.width_hard {
    width: 350px;
}

/* change bg on click > NO BOMBA -> flower -> daisy */
.box.blue{
    background-image: url(https://dbdzm869oupei.cloudfront.net/img/sticker/preview/4211.png);
    background-position: center;
    background-size: cover;
}

/* change bg on click > SI BOMBA */
.box.red{
    background-image: url(https://thumbs.dreamstime.com/b/foto-di-una-bomba-rotonda-con-fusibile-acceso-su-sfondo-rosso-grande-verticale-e-fiammifero-162951175.jpg);
    background-position: center;
    background-size: cover;

}

